<p id="notice"><%= notice %></p>

<h1>Incomes</h1>

<table border=2 style="width: 30%">
  <thead>
    <tr>
      <th>Amount</th>
      <th>Income Category</th>
      <th colspan="3">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.amount %></td>
        <td><%= income.category.try(:name) %></td>
        <td><%= link_to 'Show', income %></td>
        <td><%= link_to 'Edit', edit_income_path(income) %></td>
        <td><%= link_to 'Delete', income, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Back', root_path %> -
<%= link_to 'New Income', new_income_path %> -
<%= link_to "Download PDF", { :action => "index", :format => :pdf }, target: '_blank'%> -
<%= link_to "Download CSV", { :action => "index", :format => :csv }, target: '_blank'%> 
<!-- | -->
<%#= link_to "Download CSV", { :action => "index", :format => :csv }, target: '_blank'%>