<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @expense.category.try(:name) %>
</p>
<p>
  <strong>Amount:</strong>
  <%= @expense.amount %>
</p>

<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
